/* Première navbar */
.container-fluid{
    background-color: rgb(48, 55, 67);
    border: 10px;
    border-color: aliceblue;
}
.navbar-brand{
    color: aliceblue;
    border-radius: 1%;
    border-color: aliceblue;
}
.nav-link{
    color:   aliceblue;
}

.navbar-nav{
    border: 0.5px solid;
    border-radius: 10px;
    border-color: aliceblue;
    
}
.nav-item:hover{
    background-color:#888;
    border: 0.5px solid;
    border-radius: 10px;
}
.bi{
    color: white;
}
svg:hover{
background-color: rgb(236, 119, 105);
}
/* lien des svg */
a{
    text-decoration: none;
    color: #888;
}
a:hover{
    color:rgb(236, 119, 105) ;
}
/* zoom image */
img:hover {
    transform: scale(1.1);
  }
  /* pied de page */
footer{
 background-color: rgb(241, 241, 241);
 background-size:cover;
 /* justify-content: space-between; */
 color: #888;
  }
  /* des surcharges ont été faites dans le code html */